@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>Exec Page:<a href="/home/exectool" target="_blank">Link</a></div>
    <div>Debug Page:<a href="/home/debugtool" target="_blank">Link</a></div>
</div>
